@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Nunito Sans', sans-serif !important;
    /* background: linear-gradient(to bottom, transparent, #00000095) */

}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}


/* Styles for the thumb */
progress::-webkit-progress-value {
    background-color: #ffffffa5 !important;
    border-radius: 9999px !important;

}

/* Styles for the track */
progress::-webkit-progress-bar {
    background-color: #5b5a5a4f !important;
    border-radius: 9999px !important;

}
